body {
	margin: 0;
	padding: 0;
	background-color: lightseagreen;
	padding: 50px;
	font-size: 16px;
	color: #333;
}

.app {
	background-color: #fff;
	padding: 50px 30px;

}
.app h1 {
	font-size: 34px;
	text-align: center;
}
.app small {
	display: block;
	font-size: 26px;
}
.column {
	width: 25%;
	padding-bottom: 20px;
	background-color: #999;
	float: left;
	text-align: center;
}
.column:nth-child(even) {
	background-color: #ddd;
}
.column h2 {
	text-align: center;
}
.tasks {
	background-color: #fff;
	margin: 0 20px;
	box-sizing: border-box;
	height: 150px;
}
.task p {
	border-bottom: 1px solid #ddd;
}
.button-create {
	background-color: #000;
	color: #fff;
	width: 100px;
	height: 50px;
	margin: 20px 0 0;
	cursor: pointer;
	border: none;
	border-radius: 5px;
}
.button-create:active,
.button-create:hover {
	background-color: #333;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.3);
}
.create-task {
	position: absolute;
	background-color: #fff;
	width: 400px;
	height: 300px;
	z-index: 2;
	top: 150px;
	left: calc(50% - 200px);
	padding: 20px;
}
.task_edit {
	text-align: center;
}
.task_edit input,
.task_edit textarea {
	display: block;
	width: 90%;
	margin: 5px auto;
}
.task_edit label {
	display: inline-block;
	font-weight: bold;
	margin-top: 10px;
}
.create-task input[type="submit"] {
	background-color: #333;
	color: #fff;
	border: none;
	margin: 5px;
	padding: 10px 15px;
	cursor: pointer;
}
.create-task input[type="submit"]:hover,
.create-task input[type="submit"]:active {
	background-color: gray;
	color: #000;
}
.create-task input[type="submit"]:focus {
	outline: none;
}
.task_edit {
	background-color: #fff;
}
.button_cancel,
.button_save {
	display: inline-block;
	margin-bottom: 15px;
}






.clearfix::after {
	content: "";
	display: table;
	clear: both;
}